#treeViewContents {
  overflow: auto;
}

.line {
  stroke: black;
}

.phantom {
  stroke: transparent;
}

.target {
  fill: transparent;
  stroke: transparent;
}

svg polygon {
  stroke: hsl(0, 0%, 0%);
  fill: black;
}

svg rect {
  fill: white;
  stroke: black;
}

svg text {
  font-size: 15px;
  text-anchor: middle;
  pointer-events: none;
  stroke: black;
}

svg {
  pointer-events: none;
}

svg * {
  pointer-events: all;
}

@keyframes pulseStroke {
  0%  { stroke: green; }
  40% { stroke: white; }
  50% { stroke: green; }
  90% { stroke: white}
  100% { stroke: green; }
}

.animate {
  animation-name: pulseStroke;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

.noAnimate {
  animation-name: unset;
}

.value {
  stroke: grey;
  border: none;
  font-size: 80%;
  text-anchor: start;
}

#measure {
  height: 12px;
}
