<p id="treeViewContents"><svg id="svgRoot" width="226.03125" height="168">
  <rect id="tn0nb" width="28" height="28" x="51.3984375" y="5"></rect>
    <text id="tn0nl" x="65.3984375" y="26">^</text>
    <text x="85.3984375" y="20" class="value">4</text>
  <svg><polygon id="tn0c" points="65.3984375,44 60.3984375,33 70.3984375,33" style="fill:#4d82b8"><title>Click to collapse</title></polygon></svg>
  <line x1="65.3984375" y1="44" x2="65.3984375" y2="49" class="line"></line>
  <line x1="28.765625" y1="49" x2="102.03125" y2="49" class="line"></line>
  <line id="tn0h0" x1="28.765625" y1="49" x2="28.765625" y2="79" class="line"></line>
    <rect id="tn0h0t" width="10" height="28" x="23.765625" y="50" class="target"></rect>
  <line id="tn0h1" x1="102.03125" y1="49" x2="102.03125" y2="79" class="line"></line>
    <rect id="tn0h1t" width="10" height="28" x="97.03125" y="50" class="target"></rect>
    <rect id="tn0p0t" width="10" height="28" x="-15.234375" y="50" class="target"></rect>
    <rect id="tn0p1t" width="10" height="28" x="60.3984375" y="50" class="target"></rect>
    <rect id="tn0p2t" width="10" height="28" x="161.03125" y="50" class="target"></rect>
    <rect id="tn0rt" width="10" height="28" x="60.3984375" y="-24" class="target"></rect>
  <rect id="tn1nb" width="28" height="28" x="14.765625" y="65"></rect>
    <text id="tn1nl" x="28.765625" y="86">-</text>
    <text x="48.765625" y="80" class="value">-2</text>
  <svg><polygon id="tn1c" points="28.765625,104 23.765625,93 33.765625,93" style="fill:#4d82b8"><title>Click to collapse</title></polygon></svg>
  <line x1="28.765625" y1="104" x2="28.765625" y2="109" class="line"></line>
  <line x1="28.765625" y1="109" x2="28.765625" y2="109" class="line"></line>
  <line id="tn1h0" x1="28.765625" y1="109" x2="28.765625" y2="139" class="line"></line>
    <rect id="tn1h0t" width="10" height="28" x="23.765625" y="110" class="target"></rect>
    <rect id="tn1p0t" width="10" height="28" x="-20" y="110" class="target"></rect>
    <rect id="tn1p1t" width="10" height="28" x="92.53125" y="110" class="target"></rect>
  <rect id="tn2nb" width="37.53125" height="28" x="10" y="125"></rect>
    <text id="tn2nl" x="28.765625" y="146">B1</text>
    <text x="53.53125" y="140" class="value">2</text>
  <rect id="tn3nb" width="28" height="28" x="88.03125" y="65"></rect>
    <text id="tn3nl" x="102.03125" y="86">2</text>
  </svg>
  </p>